.dashboard__search__input, .dashboard__search__result .add span {
  -webkit-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out; }

.dashboard {
  min-height: -webkit-calc(100vh - 146px);
  min-height: calc(100vh - 146px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #F4F6F8; }
  .dashboard__sidebar {
    overflow: hidden;
    width: 345px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    background-color: #fff; }
  .dashboard__plan {
    -webkit-box-shadow: 0px 5px 25px rgba(102, 102, 102, 0.1), 0px 10px 25px rgba(102, 102, 102, 0.05);
            box-shadow: 0px 5px 25px rgba(102, 102, 102, 0.1), 0px 10px 25px rgba(102, 102, 102, 0.05);
    padding: 40px 40px 30px; }
    .dashboard__plan .btn {
      width: 100%;
      margin-top: 16px;
      height: 45px; }
    .dashboard__plan__label {
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      color: #666; }
    .dashboard__plan__val {
      font-size: 22px;
      line-height: 1.18182em;
      margin-top: 5px; }
  .dashboard__nav {
    font-size: 15px;
    padding: 40px; }
    .dashboard__nav a {
      color: #666;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .dashboard__nav a:hover {
        color: #009CFC !important; }
      .dashboard__nav a.active {
        color: #2D3436; }
    .dashboard__nav .svg-ico {
      margin-right: 8px; }
    .dashboard__nav > ul > li {
      font-weight: 700; }
      .dashboard__nav > ul > li:not(:last-child) {
        border-bottom: 1px solid #E7E7E7; }
      .dashboard__nav > ul > li > a {
        padding: 10px 0; }
    .dashboard__nav > ul ul {
      font-weight: 500;
      background-color: #F4F6F8;
      padding: 15px 20px;
      display: none; }
      .dashboard__nav > ul ul a {
        padding: 5px 0 6px; }
      .dashboard__nav > ul ul li.active {
        position: relative; }
        .dashboard__nav > ul ul li.active:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #D82727;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          top: 14px;
          left: -11px; }
    .dashboard__nav > ul .submenu > a {
      position: relative;
      padding: 18px 0; }
      .dashboard__nav > ul .submenu > a:after {
        content: '';
        position: absolute;
        width: 10px;
        top: 50%;
        right: 0;
        margin-top: -3px;
        height: 6px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjg5MzkzOSAtMS45MTEyNmUtMDVMLTIuMTgzMzZlLTA3IDAuODk4OTcyTDUgNS44OTM5MkwxMCAwLjg5MzkyTDkuMTA2MDYgLTEuOTQ3MTVlLTA1TDUgNC4xMDYwNEwwLjg5MzkzOSAtMS45MTEyNmUtMDVaIiBmaWxsPSIjNjY2NjY2Ii8+Cjwvc3ZnPgo=") center center no-repeat; }
    .dashboard__nav li.active {
      border-bottom-color: transparent !important; }
      .dashboard__nav li.active > a {
        color: #2D3436; }
        .dashboard__nav li.active > a:after {
          -webkit-transform: scaleY(-1);
              -ms-transform: scaleY(-1);
                  transform: scaleY(-1); }
  .dashboard__content {
    margin: 0 40px 0 30px;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 1px; }
  .dashboard__header {
    background: #FFFFFF;
    -webkit-border-radius: 0px 0px 3px 3px;
            border-radius: 0px 0px 3px 3px;
    padding: 49px 70px 52px 70px;
    position: relative;
    z-index: 10; }
    .dashboard__header .page_title {
      text-align: left;
      margin-bottom: 46px;
      font-size: 38px;
      line-height: 1.26316em;
      font-weight: 600; }
      .dashboard__header .page_title .brand {
        color: #666; }
        .dashboard__header .page_title .brand:before {
          content: '';
          display: inline-block;
          background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuOTczNzNlLTA3IDE4LjIxMjFMMS44MzAzNCAyMEwxMiAxMEwxLjgyMDA1IC0yLjkyNDc0ZS0wNkwtNi4zODQ4ZS0wNyAxLjc4Nzg4TDguMzU5OSAxMEw3Ljk3MzczZS0wNyAxOC4yMTIxWiIgZmlsbD0iIzY2NjY2NiIvPgo8L3N2Zz4K") center center no-repeat;
          width: 12px;
          height: 20px;
          margin: 0 20px 0 12px; }
  .dashboard__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 46px; }
    .dashboard__title .page_title {
      margin-bottom: 0; }
  .dashboard__search {
    position: relative;
    z-index: 10; }
    .dashboard__search__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2F2F2F;
      opacity: 0.2;
      z-index: -1;
      display: none; }
    .dashboard__search__form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      z-index: 2; }
    .dashboard__search__input {
      width: 100%;
      background-color: #fff;
      background: #F4F6F8;
      -webkit-border-radius: 3px 0 0 3px;
              border-radius: 3px 0 0 3px;
      border: none;
      font-size: 15px;
      padding-left: 30px;
      padding-right: 30px; }
      .dashboard__search__input::-webkit-input-placeholder {
        color: #666; }
      .dashboard__search__input::-moz-placeholder {
        color: #666; }
      .dashboard__search__input:-ms-input-placeholder {
        color: #666; }
      .dashboard__search__input::-ms-input-placeholder {
        color: #666; }
      .dashboard__search__input::placeholder {
        color: #666; }
      .dashboard__search__input:hover, .dashboard__search__input:focus {
        -webkit-box-shadow: 0px 5px 25px rgba(102, 102, 102, 0.1), 0px 10px 25px rgba(102, 102, 102, 0.05);
                box-shadow: 0px 5px 25px rgba(102, 102, 102, 0.1), 0px 10px 25px rgba(102, 102, 102, 0.05);
        background-color: #fff; }
    .dashboard__search__submit {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      min-width: 170px;
      height: 55px;
      -webkit-border-radius: 0 3px 3px 0;
              border-radius: 0 3px 3px 0; }
      .dashboard__search__submit .svg-ico {
        margin-right: 8px; }
    .dashboard__search__result {
      position: absolute;
      top: 100%;
      left: 0;
      right: 170px;
      background-color: #fff;
      -webkit-border-radius: 0px 0px 3px 3px;
              border-radius: 0px 0px 3px 3px;
      padding: 3px 30px;
      font-size: 18px;
      line-height: 1.55556em;
      max-height: 400px;
      overflow-y: auto;
      display: none; }
      .dashboard__search__result li:not(:last-child) {
        border-bottom: 1px solid rgba(196, 196, 196, 0.4); }
      .dashboard__search__result a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 18px 0;
        min-height: 66px; }
        .dashboard__search__result a:hover {
          color: #009CFC; }
      .dashboard__search__result .logo {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        width: 95px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        flex-shrink: 0;
        border-right: 1px solid rgba(196, 196, 196, 0.4);
        padding-right: 23.5px;
        margin-right: 15px; }
        .dashboard__search__result .logo img {
          display: block;
          max-width: 100%; }
      .dashboard__search__result .add {
        color: #009CFC; }
        .dashboard__search__result .add span {
          border-bottom: 1px solid transparent; }
        .dashboard__search__result .add:hover span {
          border-bottom-color: #009CFC; }
  .dashboard__main {
    margin: 60px 0;
    position: relative;
    z-index: 1; }
  .dashboard__monitor {
    padding: 0 70px; }
    .dashboard__monitor__title {
      font-weight: 600;
      font-size: 28px;
      line-height: 1.28571em;
      margin-bottom: 30px; }
    .dashboard__monitor__index {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .dashboard__monitor__index .itm {
        margin-right: 50px; }
      .dashboard__monitor__index .val {
        font-size: 48px;
        line-height: 1.25em; }
        .dashboard__monitor__index .val:after {
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          background-color: #D82727;
          margin-top: 2px; }
      .dashboard__monitor__index .label {
        color: #666;
        font-size: 15px;
        line-height: 1.86667em;
        margin-top: 8px; }
    .dashboard__monitor__graphs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-top: 60px;
      margin-left: -14px;
      margin-right: -25px; }
      .dashboard__monitor__graphs .graph {
        width: 33.333%;
        padding: 0 14px;
        margin-bottom: 40px; }
        .dashboard__monitor__graphs .graph__title {
          font-size: 18px;
          line-height: 1.55556em;
          margin-bottom: 18px; }
        .dashboard__monitor__graphs .graph canvas {
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          overflow: hidden;
          background-color: #fff; }

.popup {
  padding: 50px 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .popup-small {
    text-align: center;
    width: 370px; }
  .popup__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.28571em; }
  .popup__subtitle {
    font-size: 18px;
    line-height: 1.55556em;
    color: #666;
    margin-top: 4px; }
  .popup .btn {
    height: 45px;
    min-width: 172px;
    margin-top: 25px; }

.fancybox-bg {
  background: #2F2F2F; }

.fancybox-is-open .fancybox-bg {
  opacity: 0.2; }

.fancybox-slide--html .fancybox-close-small {
  padding: 0;
  top: 15px;
  right: 15px;
  opacity: 1;
  color: #C4C4C4;
  width: 20px;
  height: 20px; }
  .fancybox-slide--html .fancybox-close-small:hover {
    color: #009CFC; }
  .fancybox-slide--html .fancybox-close-small svg {
    width: auto;
    height: auto; }

.dashboard__brand_index {
  background: #FFFFFF;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .dashboard__brand_index__itm {
    padding: 10px 10px 10px;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
    .dashboard__brand_index__itm:not(:last-child) {
      border-right: 2px solid #E7E7E7; }
  .dashboard__brand_index .rating-up,
  .dashboard__brand_index .rating-down {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.23077em; }
  .dashboard__brand_index__title {
    font-size: 22px;
    line-height: 1.18182em; }
  .dashboard__brand_index__date {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    opacity: 0.5;
    color: #666;
    margin-top: 6px; }
  .dashboard__brand_index__val {
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
    line-height: 1.16667em;
    position: relative; }
    .dashboard__brand_index__val sup {
      white-space: nowrap;
      position: absolute;
      top: -0.6em;
      margin-left: 2px;
      font-size: 13px;
      line-height: 1.23077em; }

.rating-up:before,
.rating-down:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 2px; }

.rating-up {
  color: #2ECFA8; }
  .rating-up:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMjE0MzcgMS43NDM2Mkw1Ljc4NTcyIDEuNzQzNjJMNS43ODU3MiAxMEg0LjIxNDM3TDQuMjE0MzcgMS43NDM2MloiIGZpbGw9IiMyRUNGQTgiLz4KPHBhdGggZD0iTTkuMTA2NTEgNi4xMzIyMUwxMCA1LjE5NzY3TDQuOTk3NTMgMEwwIDUuMTk3NjdMMC44OTQzODIgNi4xMjc4OUw0Ljk5ODQxIDEuODU5NUw5LjEwNjUxIDYuMTMyMjFaIiBmaWxsPSIjMkVDRkE4Ii8+Cjwvc3ZnPgo="); }

.rating-down {
  color: #D82727; }
  .rating-down:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMjE0MzcgOC4yNTYzOEw1Ljc4NTcyIDguMjU2MzhMNS43ODU3MiAwSDQuMjE0MzdMNC4yMTQzNyA4LjI1NjM4WiIgZmlsbD0iI0Q4MjcyNyIvPgo8cGF0aCBkPSJNOS4xMDY1MSAzLjg2Nzc5TDEwIDQuODAyMzNMNC45OTc1MyAxMEwwIDQuODAyMzNMMC44OTQzODIgMy44NzIxMUw0Ljk5ODQxIDguMTQwNUw5LjEwNjUxIDMuODY3NzlaIiBmaWxsPSIjRDgyNzI3Ii8+Cjwvc3ZnPgo="); }

.dashboard__brand_reports {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  font-size: 15px;
  line-height: 1.6em; }
  .dashboard__brand_reports .report {
    background: #FFFFFF;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: -webkit-calc(50% - 22.5px);
    width: calc(50% - 22.5px);
    padding: 20px 30px 25px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .dashboard__brand_reports .report > *:not(.report__more_btn) {
      width: 100%; }
    .dashboard__brand_reports .report__head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .dashboard__brand_reports .report__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 1.33333em;
      margin-bottom: 35px; }
    .dashboard__brand_reports .report__list {
      border-top: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 25px; }
      .dashboard__brand_reports .report__list__itm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        padding: 9px 13px 9px; }
        .dashboard__brand_reports .report__list__itm:nth-child(even) {
          background-color: rgba(244, 246, 248, 0.5); }
        .dashboard__brand_reports .report__list__itm .val b {
          color: #666;
          font-weight: 700; }
        .dashboard__brand_reports .report__list__itm .flag-icon {
          margin-right: 8px; }
    .dashboard__brand_reports .report__more_btn {
      color: #009CFC;
      border: 1px solid #009CFC;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      font-weight: 700;
      padding: 6px 20px;
      display: inline-block;
      margin-top: auto; }
      .dashboard__brand_reports .report__more_btn:hover {
        background-color: #009CFC;
        color: #fff; }
    .dashboard__brand_reports .report__progress {
      margin-bottom: 25px; }
      .dashboard__brand_reports .report__progress__itm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%; }
        .dashboard__brand_reports .report__progress__itm:not(:last-child) {
          margin-bottom: 20px; }
      .dashboard__brand_reports .report__progress .val b {
        color: #666;
        font-weight: 700; }
      .dashboard__brand_reports .report__progress__bar {
        background-color: #F4F6F8;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        position: relative;
        width: 100%;
        height: 10px;
        margin-top: 5px; }
        .dashboard__brand_reports .report__progress__bar > span {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: #5FA4CF;
          -webkit-border-radius: 3px;
                  border-radius: 3px; }
      .dashboard__brand_reports .report__progress .c-blue > span {
        background-color: #5FA4CF; }
      .dashboard__brand_reports .report__progress .c-green > span {
        background-color: #5FCFBB; }
      .dashboard__brand_reports .report__progress .c-salat > span {
        background-color: #97CF5F; }
      .dashboard__brand_reports .report__progress .c-yelow > span {
        background-color: #CFCB5F; }
      .dashboard__brand_reports .report__progress .c-red > span {
        background-color: #CF8E5F; }
    .dashboard__brand_reports .report__table {
      display: table;
      color: #666;
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 25px;
      margin-top: -22px;
      table-layout: fixed; }
      .dashboard__brand_reports .report__table .tr {
        display: table-row; }
        .dashboard__brand_reports .report__table .tr:nth-child(odd) {
          background-color: rgba(244, 246, 248, 0.5); }
      .dashboard__brand_reports .report__table .td {
        display: table-cell;
        padding: 9px 13px; }
        .dashboard__brand_reports .report__table .td:first-child {
          width: 25%; }
        .dashboard__brand_reports .report__table .td:last-child {
          width: 70px; }
      .dashboard__brand_reports .report__table a {
        color: #009CFC;
        border-bottom: 1px solid transparent; }
        .dashboard__brand_reports .report__table a:hover {
          border-bottom-color: #009CFC; }
      .dashboard__brand_reports .report__table .thead {
        font-size: 13px;
        line-height: 23px;
        background-color: #fff !important; }
        .dashboard__brand_reports .report__table .thead .td {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: 1px solid #E7E7E7; }

@media (max-width: 1799px) {
  .dashboard__monitor__graphs .graph {
    width: 50%; } }

@media (max-width: 1599px) {
  .dashboard__search__result {
    right: 0; }
  .dashboard__header {
    padding: 50px 40px; }
  .dashboard__main {
    padding: 50px 40px; }
  .dashboard__brand_reports .report {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-bottom: 20px; }
  .dashboard__main {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 1199px) {
  .dashboard__monitor__graphs .graph {
    width: 100%; }
  .dashboard__monitor__index .val {
    font-size: 42px; }
  .footer-short .footer__contacts {
    margin-left: 0; }
  .dashboard__header .page_title {
    font-size: 32px; }
  .dashboard__search__result {
    font-size: 16px; }
  .dashboard__search__submit {
    font-size: 0;
    min-width: 55px; }
  .dashboard__search__submit .svg-ico {
    margin-right: 0; } }
